* {
  xborder : 1px blue dotted;
}


/* EVENT CARDS */

.event-card {
  max-width: 28rem;
  min-width: 15rem;
  border-radius: 12px;
}

.card-subtitle {
  color: #809395;
  margin: 0.25rem 1rem 0.5rem 1rem;
}

.event-card-body {
  display: flex;
}

.event-card-date {
  display: flex;
  align-items: center;
  width: 10rem;
  color: #2C3E50;
  margin-right: 1.25rem;
  text-align: center;
}

.event-card-content > p {
  text-align: justify;
  margin-bottom: 1.3rem;
}

.event-card-content > div {
  text-align: center;
}

.event-card-content > h5 {
  margin-bottom: 0.3rem;
  color: #2C3E50;
  font-weight: bold;
}

.event-card-content > h6 {
  font-variant-caps: small-caps;
}

/* USER CARDS */


.user-card {
  max-width: 38rem;
  min-width: 15rem;
  border-radius: 12px;
}

.user-card-body {
  display: flex;
}

.user-card-pic {
  display: flex;
  margin-right: 1.25rem;
  width: 5rem;
  align-items: center;
}

.user-card-pic > img {
  width: 75px;
  height: 75px;
}

.user-card-content > p {
  text-align: justify;
  font-style: italic;
}